.border-property {
     border: 1px solid #F74C25;
     width: 20%;
     padding: 10px;
     border-radius: 25px;
}

.checkout-property {
     border: 1px solid #F74C25;
     padding: 10px;
     border-radius: 25px;
     width: 90%;
     display: flex;
     justify-content: center;
}

.checkout-property:hover {
     color: #fff;
     background-color: #F74C25;
     transition: .6s cubic-bezier(0.22, 1, 0.36, 1);
}

@media (min-width: 1024px) {
     .border-property {
          width: 60%;
          margin-left: 6px;
     }
     .checkout-property {
          width: 70%;
     }
}