header.active .navbar {
     transform: translateX(0);
     transition: .6s cubic-bezier(0.76, 0, 0.24, 1);
}

header.active .menu {
     opacity: 0;
}

header.active .close {
     opacity: 1;
}

.nav {
     display: inline-block;
     position: relative;
     color: #000;
}

.nav:after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #F74C25;
     transform-origin: bottom right;
     transition: transform 0.28s ease-out;
}

.nav:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
}