.b-bg {
     background-image: url('../../images/b.png');
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 130vh;
}

input[type=text] {
     background-color: transparent;
     padding: 1em;
     width: 80%;
     font-size: 20px;
}

input[type=text]::placeholder {
     color: #ECEBED;
     font-size: 20px;
}

input[type=email] {
     background-color: transparent;
     padding: 1em;
     width: 80%;
     font-size: 20px;
}

input[type=email]::placeholder {
     color: #ECEBED;
     font-size: 20px;
}

/* Password styling */

input[type=password] {
     background-color: transparent;
     padding: 1em;
     width: 80%;
     font-size: 20px;
}

input[type=password]::placeholder {
     color: #ECEBED;
     font-size: 20px;
}

input:focus {
     outline: none;
     border: none;
     border-width: thin;
     border-bottom-style: solid;
     border-bottom-color: #ECEBED;
     transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.register-property{
     border: 1px solid #ECEBED;
     padding: 10px;
     border-radius: 25px;
     width: 90%;
}

.register-property:hover {
     border: none;
     color: #fff;
     background-color: #F74C25;
     transition: .6s cubic-bezier(0.22, 1, 0.36, 1);
}

.google-property{
     border: 1px solid #ECEBED;
     padding: 10px;
     border-radius: 25px;
     width: 90%;
}

.google-property:hover {
     border: none;
     color: #fff;
     background-color: #008324;
     transition: .6s cubic-bezier(0.22, 1, 0.36, 1);
}


@media (min-width: 640px) {
     .b-bg{
          height: 110vh;
     }
}

@media (min-width: 768px) {
     input[type=text] {
          background-color: transparent;
          padding: 1em;
          width: 70%;
          font-size: 20px;
     }

     input[type=email] {
          background-color: transparent;
          padding: 1em;
          width: 70%;
          font-size: 20px;
     }

     input[type=password] {
          background-color: transparent;
          padding: 1em;
          width: 70%;
          font-size: 20px;
     }
     .register-property{
          border: 1px solid #ECEBED;
          padding: 10px;
          border-radius: 25px;
          width: 70%;
     }
     .google-property{
          border: 1px solid #ECEBED;
          padding: 10px;
          border-radius: 25px;
          width: 70%;
     }
}

@media (min-width: 1280px){
     input[type=text] {
          background-color: transparent;
          padding: 1em;
          width: 50%;
          font-size: 20px;
     }
     input[type=email] {
          background-color: transparent;
          padding: 1em;
          width: 50%;
          font-size: 20px;
     }
     input[type=password] {
          background-color: transparent;
          padding: 1em;
          width: 50%;
          font-size: 20px;
     }
     .register-property{
          border: 1px solid #ECEBED;
          padding: 10px;
          border-radius: 25px;
          width: 50%;
     }
     .google-property{
          border: 1px solid #ECEBED;
          padding: 10px;
          border-radius: 25px;
          width: 50%;
     }
}
@media (min-width: 1700px){

     .b-bg {
          background-image: url('../../images/b.png');
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 90vh;
     }
     
     input[type=text] {
          background-color: transparent;
          padding: 1em;
          width: 40%;
          font-size: 20px;
     }
     input[type=email] {
          background-color: transparent;
          padding: 1em;
          margin-top: 1em;
          width: 40%;
          font-size: 20px;
     }
     input[type=password] {
          background-color: transparent;
          padding: 1em;
          margin-top: 1em;
          width: 40%;
          font-size: 20px;
     }
     .register-property{
          border: 1px solid #ECEBED;
          padding: 10px;
          border-radius: 25px;
          width: 40%;
     }
     .google-property{
          border: 1px solid #ECEBED;
          padding: 10px;
          border-radius: 25px;
          width: 40%;
     }
}




