@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'OPTITimes-Roman';
     src: url('../src/fonts/OPTITimes-Roman.otf');
}
@font-face {
     font-family: 'Suisse Intl';
     src: url('../src/fonts/SuisseIntl-Regular.ttf');
}
@font-face {
     font-family: 'Editorial New Ultralight';
     src: url('../src/fonts/editorialNewUltralight.otf');
}
@font-face {
     font-family: 'Bigilla';
     src: url('../src/fonts/Bigilla.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');